<ion-header id="header">
  <ion-navbar>
    <ion-title>Editar Prodtuo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear color="dark" (click)="closeModal()">
        <ion-icon name="md-close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding id="content" no-bounce>
  <form padding [formGroup]="formEditar" (ngSubmit)="concluir(); $event.preventDefault()"
    ion-fixed class="form">

    <ion-list no-lines>
      <ion-item *ngIf="error">
        <p>Os dados informados não estão corretos.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="formEditar.get('name').errors && formEditar.get('name').dirty">
        <p *ngIf="formEditar.get('name').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade</ion-label>
        <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="quantity"></ion-input>
      </ion-item>
      <ion-item *ngIf="formEditar.get('quantity').errors && formEditar.get('quantity').dirty">
        <p *ngIf="formEditar.get('quantity').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input type="number" placeholder="123.99" formControlName="value"></ion-input>
      </ion-item>
      <ion-item *ngIf="formEditar.get('value').errors && formEditar.get('value').dirty">
        <p *ngIf="formEditar.get('value').hasError('required')">Campo obrigatório</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Quantidade</ion-label>
        <ion-datetime doneText="Ok" cancelText="Cancelar" displayFormat="DD/MM/YYYY" formControlName="validity"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="formEditar.get('validity').errors && formEditar.get('validity').dirty">
        <p *ngIf="formEditar.get('validity').hasError('required')">Campo obrigatório</p>
      </ion-item>
    </ion-list>

    <button ion-button full type="submit" [disabled]="formEditar.invalid">Concluir</button>

  </form>
</ion-content>
